.Artallus {
  background-color: #121212;
  color: white;
}

.section {
  border-style: solid;
  border-bottom: 1px;
  border-color: white;
  margin-top: 10%;
}

.logo {
  width: 25%;
  margin-top: 4%;
}

.image-section {
  text-align: center;
}

.nar-p {
  padding: 10%;
}

a {
  text-decoration: none;
}

/* @media (max-width: 9000px) {
  .nar-p {
      font-size :10px;
  }
}

@media (max-width: 700px) {
  .nar-p {
    font-size :10px;
}
}

@media (max-width: 550px) {
  .nar-p {
    font-size :10px;
}
} */