.Contact {
  background-color:#121212;
  color: white;
}

.contact-intro {
  /* border-bottom: 3px solid white; */
  text-align: center;
}

.section {
  /* margin: 1% 0 1% 0; */
}

.section-title {
  text-align: center;
}

