.Contact {
  background-color:#121212;
  color: white;
}

.contact-section {
  text-align: center;
  padding: 1% 0 1% 0;
}

.contact-section-title {
  padding: 1% 0 1% 0;
  margin: 0 0 3% 0;
}

.icons {
  font-size: 100px;
  color: white;
  text-align: center;
}

.icons i {
  margin: 0 2% 0 2%;
}

.icons a {
  text-decoration: none;
  color: white;
}
