.badges-section {
  text-align: center;
}

.Skills {
  border-color: white;
  border-style: solid;
  border-width: 0 0 1px 0;
}

.title {
  text-align: center;
}

.toggleBtn {
  margin-left: 2%;
  margin-top: 20px;
}