body {
  background-color: #121212;
}

.home {
  background-color: #121212;
  color: white;
  height: 100%;
}

.section {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.about {
  margin-top: 2%;
}

.intro {
  background-color: #6f7c83;
}

.skills {
  margin: 0 auto;
  max-width: 100%;
}

.skills-intro {
  margin: 0 auto;
  text-align: center;
}

.skills hr {
  border-color: white;
}

.skills-section {
  /* background-color: #6f7c83; */
  background-color: #121212;
  border: 10px;
  border-color: white;

}

.nomargin {
  padding: 0 !important;
  margin: 0 !important;
}

.skills-section-title {
  padding: 2%;
  text-align: center;
}

.skills-section img {
  width: 100%;
  max-width: 100%;

}