.SelfTaught {
  background-color: #121212;
  color: white;
}

/* .nar-list {
  list-style-type: circle;
  list-style-position: inside;
} */

.nar-list {
  list-style-type: circle;
  margin:0 auto;
  width: 50%;
  text-align:left;
}